.fontContainer{
    width: 80px ;
    height: 70px;
    margin-left:10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    color: #758a8d;
    border-radius: 7px;
}
.fontContainer small{
    font-size: 12px;
}

.fontContainer i{
    font-size: 25px;
}
#activeHome{
    background-color: #002129;
    cursor: pointer;
    color: #14a800;
}

.fontContainer:hover{
    background-color: #002129;
    color: #14a800;
}
.fontContainer:hover .CRMPage{
    display: block;
    transition: 1s 2s ease-in-out;
}
.fontContainer:hover .emailPage{
    display: block;
    transition: 1s 2s ease-in-out;
}
.fontContainer:hover .helpPage{
    display: block;
    transition: 1s 2s ease-in-out;
}
.fontContainer:hover .authPage{
    display: block;
    transition: 1s 2s ease-in-out;
}
.fontContainer:hover .settingPage{
    display: block;
    transition: 1s 2s ease-in-out;
}
.CRMPage,.emailPage,.helpPage,.authPage, .settingPage{
    width: 200px;
    height: 260px;
    background-color: white;
    border: .5px solid #d6d9da;
    margin-left: 70px;
    display: none;
    transition: 0.5s ease-in-out;
    text-align: left;
}
.CRMPage,.emailPage,.helpPage{
    margin-top: -60px;
}
.authPage{
    margin-top: -205px;
}
.settingPage{
    margin-top: -250px;
}
.CRMPage li,.emailPage li,.helpPage li, .authPage li, .settingPage li{
    list-style: none;
    width: 100%;
    height: 40px ;
    line-height: 40px;
    text-transform: capitalize;
    margin: 10px 0px 3px -25px;
}
.CRMPage li a,.emailPage li a,.helpPage li a, .authPage li a, .settingPage li a{
    text-decoration: none;
    font-size: 20px;
    color: #758a8d;
    padding-left: 10px;
}

.CRMPage li:hover,.emailPage li:hover,.helpPage li:hover, .authPage li:hover, .settingPage li:hover{
    background-color: #002129;
    border-radius: 0px 30px;
    color: #14a800;
}
.CRMPage li a:hover,.emailPage li a:hover,.helpPage li a:hover, .authPage li:hover a, .settingPage li a:hover{
    
    color: #14a800;
}
.searchIcon i{
    margin-left: -50px;
    font-size: 30px;
    margin-top: 7px;
    color: #758a8d;
}
 .logoControl{
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }
 .navBarIcon {
     width: 25%;
     text-align: end;
     justify-content: end;
 }
 .navBarIcon i{
     padding: 5px 20px;
     font-size: 30px;
}
.navBarIcon a{
    text-decoration: none;
    color: white;
}
.navBarIcon a:hover i{
    color: #14a800;
}
.navBarIcon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
