/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 1, H:/admin_project/finance/scss/_extends.scss */
.CRM_dropdown.dropdown .dropdown-toggle:hover, .CRM_dropdown.dropdown .dropdown-toggle:focus {
  background: -webkit-gradient(linear, left top, right top, from(#7C32FF), color-stop(70%, #A235EC), to(#C738D8));
  background: -o-linear-gradient(left, #7C32FF 0%, #A235EC 70%, #C738D8 100%);
  background: linear-gradient(90deg, #7C32FF 0%, #A235EC 70%, #C738D8 100%);
}

/**************** common css start ****************/
/* line 3, H:/admin_project/finance/scss/_reset.scss */
body {
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #F7FAFF;
}
* {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  /* line 12, H:/admin_project/finance/scss/_reset.scss */
  .container {
    max-width: 1310px;
  }
}

/* line 23, H:/admin_project/finance/scss/_reset.scss */
.message_submit_form:focus {
  outline: none;
}

/* line 26, H:/admin_project/finance/scss/_reset.scss */
input:hover, input:focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 0px transparent !important;
}

/* line 30, H:/admin_project/finance/scss/_reset.scss */
:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 33, H:/admin_project/finance/scss/_reset.scss */
.custom-file-input:focus ~ .custom-file-label {
  border-color: transparent;
  box-shadow: none;
}

/* line 37, H:/admin_project/finance/scss/_reset.scss */
.form-control {
  border-color: #BBC1C9;
}

/* line 40, H:/admin_project/finance/scss/_reset.scss */
.form-control:focus {
  box-shadow: 0 0 0 0rem transparent !important;
  border-color: #BBC1C9;
}


/******** header css here *********/
/* line 2, H:/admin_project/finance/scss/_header.scss */
.header_iner {
  background-color: #fff;
  top: 0;
  position: relative;
  margin: 20px 10px 27px 70px;
  border-radius: 7px;
}

@media (max-width: 575.98px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    justify-content: flex-end !important;
  }
}

@media (max-width: 991px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    margin: 20px 0 0 120px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    margin: 20px 0 0 120px;
  }
}

@media (max-width: 575.98px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    margin: 20px 0 0 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    margin: 20px 0 0 120px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 2, H:/admin_project/finance/scss/_header.scss */
  .header_iner {
    margin-bottom: 20px;
  }
}

/* line 49, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #222222;
  margin-bottom: 2px;
}

@media (max-width: 991px) {
  /* line 49, H:/admin_project/finance/scss/_header.scss */
  .header_iner .page_tittle h3 {
    margin-right: 15px;
  }
}

/* line 59, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle .page_subtitle {
  font-size: 12px;
  font-weight: 300;
  color: #7e7172;
  margin-bottom: 0;
}

/* line 64, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle .page_subtitle .page_subtitle_inenr {
  color: #7e7172;
}

/* line 66, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle .page_subtitle .page_subtitle_inenr.active_subcat {
  color: #fe1724;
  white-space: nowrap;
}

/* line 70, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle .page_subtitle .page_subtitle_inenr i {
  margin-left: 10px;
  margin-right: 7px;
  font-size: 12px;
}

/* line 75, H:/admin_project/finance/scss/_header.scss */
.header_iner .page_tittle .page_subtitle .page_subtitle_inenr svg {
  position: relative;
  margin: 0 7px 0 10px;
  top: -1px;
}

@media (max-width: 575.98px) {
  /* line 75, H:/admin_project/finance/scss/_header.scss */
  .header_iner .page_tittle .page_subtitle .page_subtitle_inenr svg {
    margin: 0 2px 0 2px;
  }
}

/* line 87, H:/admin_project/finance/scss/_header.scss */
.header_iner .btn_1 {
  margin: 0 30px;
}

@media (max-width: 991px) {
  /* line 90, H:/admin_project/finance/scss/_header.scss */
  .header_iner .notification {
    margin: 0 10px;
  }
}

/* line 94, H:/admin_project/finance/scss/_header.scss */
.header_iner .notification i {
  color: #707070;
  position: relative;
  font-size: 20px;
}

/* line 98, H:/admin_project/finance/scss/_header.scss */
.header_iner .notification i:after {
  position: absolute;
  content: "";
  right: -1px;
  top: 0;
  height: 9px;
  width: 9px;
  background-color: #4D4F5C;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  /* line 110, H:/admin_project/finance/scss/_header.scss */
  .header_iner .serach_field-area {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 110, H:/admin_project/finance/scss/_header.scss */
  .header_iner .serach_field-area {
    width: auto;
    left: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 110, H:/admin_project/finance/scss/_header.scss */
  .header_iner .serach_field-area {
    width: auto;
    margin-right: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 110, H:/admin_project/finance/scss/_header.scss */
  .header_iner .serach_field-area {
    width: auto;
    margin-right: 70px;
  }
}

/* line 128, H:/admin_project/finance/scss/_header.scss */
.header_iner .header_right .header_notification_warp {
  margin-right: 50px;
  margin-left: 40px;
}

@media (max-width: 575.98px) {
  /* line 128, H:/admin_project/finance/scss/_header.scss */
  .header_iner .header_right .header_notification_warp {
    margin-right: 25px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 128, H:/admin_project/finance/scss/_header.scss */
  .header_iner .header_right .header_notification_warp {
    margin-right: 35px;
    margin-left: 25px;
  }
}

/* line 139, H:/admin_project/finance/scss/_header.scss */
.header_iner .header_right .header_notification_warp li {
  display: inline-block;
}

/* line 141, H:/admin_project/finance/scss/_header.scss */
.header_iner .header_right .header_notification_warp li:last-child a {
  margin-right: 0;
}

/* line 144, H:/admin_project/finance/scss/_header.scss */
.header_iner .header_right .header_notification_warp li a {
  font-size: 20px;
  color: #929BB5;
  position: relative;
  margin-right: 29px;
  display: inline-block;
}

@media (max-width: 575.98px) {
  /* line 167, H:/admin_project/finance/scss/_header.scss */
  .header_iner .header_right .select_style {
    display: none !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 167, H:/admin_project/finance/scss/_header.scss */
  .header_iner .header_right .select_style {
    display: none !important;
  }
}

/* line 176, H:/admin_project/finance/scss/_header.scss */
.header_iner .nice_Select {
  color: #929BB5;
}

/* line 180, H:/admin_project/finance/scss/_header.scss */
.profile_info {
  position: relative;
}

/* line 184, H:/admin_project/finance/scss/_header.scss */
.profile_info img {
  max-width: 77px;
  max-height: 77px;
  border-radius: 50%;
  border: 2px solid #A5ADC6;
  cursor: pointer;
}

@media (max-width: 991px) {
  /* line 184, H:/admin_project/finance/scss/_header.scss */
  .profile_info img {
    max-width: 30px;
  }
}

/* line 194, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_iner {
  position: absolute;
  right: 0;
  background-color: #4D4F5C;
  text-align: right;
  width: 215px;
  padding: 30px 30px 20px;
  opacity: 0;
  visibility: hidden;
  top: 77px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 206, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_iner::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  top: -14px;
  right: 10px;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #4D4F5C transparent;
}

/* line 217, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_iner a {
  display: block;
}

/* line 221, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_iner p {
  font-size: 12px;
  font-weight: 300;
}

/* line 225, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_iner h5 {
  font-size: 12px;
  color: #fff;
}

/* line 231, H:/admin_project/finance/scss/_header.scss */
.profile_info:hover .profile_info_iner {
  opacity: 1;
  visibility: visible;
  top: 77px;
}

/* line 237, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_details {
  margin-top: 20px;
  border-top: 1px solid #79838b;
  padding-top: 10px;
}

/* line 241, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_details a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 10px 0;
}

/* line 246, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_details a:hover {
  color: #fff;
}

/* line 248, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_details a:hover i {
  color: #fff;
}

/* line 253, H:/admin_project/finance/scss/_header.scss */
.profile_info .profile_info_details i {
  color: #cccccc;
  font-size: 12px;
  margin-left: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 261, H:/admin_project/finance/scss/_header.scss */
.sidebar_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: auto;
  left: 20px;
}

@media (max-width: 575.98px) {
  /* line 261, H:/admin_project/finance/scss/_header.scss */
  .sidebar_icon {
    right: auto;
    left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 261, H:/admin_project/finance/scss/_header.scss */
  .sidebar_icon {
    right: auto;
    left: 20px;
  }
}

/* line 276, H:/admin_project/finance/scss/_header.scss */
.sidebar_icon i {
  font-size: 20px;
}

/******** header css end *********/
/* line 285, H:/admin_project/finance/scss/_header.scss */
.serach_field-area {
  width: 480px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 285, H:/admin_project/finance/scss/_header.scss */
  .serach_field-area {
    width: 400px;
  }
}

/* line 293, H:/admin_project/finance/scss/_header.scss */
.serach_field-area .search_inner input {
  color: #000;
  background-color: #0c7080c2;
  font-size: 17px;
  height: 60px;
  width: 100%;
  padding-left: 82px;
  border: 0;
  padding-right: 15px;
  border-bottom: 1px solid #F4F7FC;
  background: #F7FAFF;
  border-radius: 30px;
}

/* line 304, H:/admin_project/finance/scss/_header.scss */
.serach_field-area .search_inner input::placeholder {
  font-size: 17px;
  font-weight: 500;
  color: #818E94;
  font-family: "Muli", sans-serif;
}

/* line 310, H:/admin_project/finance/scss/_header.scss */
.serach_field-area .search_inner input:focus {
  outline: none;
}

/* line 314, H:/admin_project/finance/scss/_header.scss */
.serach_field-area .search_inner button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: transparent;
  font-size: 12px;
  border: 0;
  padding-left: 40px;
  padding-right: 11px;
}

/* line 324, H:/admin_project/finance/scss/_header.scss */
.serach_field-area .search_inner button i {
  font-size: 14px;
  color: #818E94;
}
